//Banner styling.

.block-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10rem 0;
  background: url(../images/banner-bg.png) no-repeat;
  background-size: cover;
  color: $white;
  @include breakpoint($mobile-only) {
    flex-wrap: wrap;
    background-position-x: center;
  }

  h1 {
    &.block-banner--title {
      max-width: rem(460px);
      margin: rem(30px) auto;
      text-align: center;
    }
  }

  &__cards-wrapper {
    display: flex;
    min-width: rem(590px);
    margin:0 auto;
    @include breakpoint($mobile-only) {
      flex-wrap: wrap;
      min-width: initial;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    margin-right: rem(20px);
    padding: rem(35px) 0 rem(20px) 0;
    border: 1px solid $grey-border;
    border-radius: 4px;
    @include breakpoint($mobile-only) {
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      margin: rem(5px) 0;
      padding: 10px 25px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  &__card--image-wrapper {
    @include breakpoint($mobile-only) {
      height: rem(40px);
    }
   
    img {
      @include breakpoint($mobile-only) {
        height: 100%;
      }
    }
  }
  &__card--name {
    @include breakpoint($mobile-only) {
      padding-left: rem(20px);
    }
  }
}
