@import "base/color";

@mixin button($width: auto, $height: auto, $background: $btn-orange, $color: $white,
  $border: 0) {
  width: $width;
  height: $height;
  padding: 5px 18px;
  background: $background;
  color: $color;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  border: $border;
  border-radius: 20px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}