//Color vairables
$white: #fff;
$black: #000;
$btn-orange: #EF3B00;
$grey: #292B2B;
$grey-border: #424242;
$light-grey: #c1bfbf;
$dark-grey-border: rgba(239,237,235,0.996078431372549);
$dark-shadow: rgba(0, 0, 0, 0.25);
$light-shadow: rgba(0, 0, 0, 0.08);
$grey-10: #818080;
$grey-20: #624949;
$grey-30: #F7F7F7;
$grey-40: rgba(185,187,187,0.996078431372549);
$grey-50: #171513;